html {
    
}

#homepage {
    height: 100vh;
    text-align: center;
    background: no-repeat linear-gradient(rgb(100,100,100), rgb(50,50,50));
    background-size: cover
}

.Home h1 {
    text-align: center;
    color: lightcoral;
    font-size: 65px;
    font-family: serif;
}

.Home p {
    color: white;
    font-size: 22px;
}

.Home ul {
    display: inline-block;
}

.buttons li {
    list-style: none;
    float: left;
    margin: 25px;
    display: flexbox;
}

.classlist li {
    list-style: decimal;
    color: white;
    font-size: 22px;
    margin: 10px;
}

.classlist {
    background-color: gray;
    width: 400px;
    display: table;
    margin: 0 auto;
    border-radius: 25px;
}

.Home button {
    font-size: 25px;
    font-family: serif;
    border-radius: 25px;
}

#appendixA {
    height: 241px;
    width: 224px;
}

#appendixB {
    width: 440px;
    height: 270px;
}

.images li{
    list-style: none;
    display: flex;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}